// ヘッダーのCSSはtasks.css

.new-task-field{
  height: 100vh;
  width: 100%;
  overflow: scroll;
  background-image: image-url('main-background-image.png');
  background-size: cover;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}

.new-task-form{
  height: 100vh;
  padding-top: 90px;
  padding-bottom: 40px;
  text-align: center;
}

.date-form-label{
  color: #053980;
  font-size: 18px;
  font-weight: bold;
  margin: auto ;
}

.date-form{
  font-size: 20px;
}

.title-form{
  width: 500px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.text-form{
  width: 500px;
  height: 500px;
  padding: 10px;
  overflow: scroll;
  border: none;
}

.new-submit-btn{
  text-decoration: none;
  color: #fff;
  background-color: #053980;
  padding: 10px 100px;
  border: none;
  border-radius: 10px;
}

.root-link{
  color: #053980;
}