// ヘッダーのCSSはtasks.scssに記述

.show-task{
  height: 100vh;
  width: 100%;
  overflow: scroll;
  background-image: image-url('main-background-image.png');
  background-size: cover;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}

.show-task-field{
  padding-top: 90px;
  padding-bottom: 40px;
  
}

.show-task-contents{
  max-height: 100vh;
  overflow: scroll;
}

.show-task-area{
  height: 70%;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px;
}

//日付、ユーザー名、編集、削除
.date-name-box{
  height: 40px;
  border-bottom: 1px solid #ddd;
}

.show-date-box{
  font-size: 18px;
  line-height: 40px;
  margin-left: 20px;
}

.show-name-box{
  font-size: 18px;
  line-height: 40px;
  margin-left: 20px;
}

.edit-delete-box{
  height: 100%;
  line-height: 40px;
  margin-left: auto;
  margin-right: 20px;
}

//delete-linkはtasks.scssに記述
.edit-link{
  color: #053980;
  font-weight: bold;
  margin-right: 20px;
}

// タスクタイトル、詳細、ルートリンク
.show-task-title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.show-task-text{
  height: 70%;
  width: 100%;
  overflow: scroll;
  word-wrap: break-word;
}

// コメント
.comments-area{
  height: 70%;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px;
}