
main{
  height: 100vh;
  width: 100%;
  overflow: scroll;
  background-image: image-url('main-background-image.png');
  background-size: cover;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}

.header-menu1{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  margin-top: 40px;
  background-color: #053980;
}

.header-menu2{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  margin-top: 90px;
  background-color: #053980;
}

// header1
.header1-title{
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

.sign-out-btn{
  float: right;
  text-decoration: none;
  color: #053980;
  font-size: 12px;
  background-color: #fff;
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
}

// header2
.date-select{
  padding: 10px;
}

.new-task-btn{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  background-color: #ff5757;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 10px;
}

.task-status{
  color: #fff;
  font-size: 18px;
}

.dropdown-icon{
  width: 40px;
}

// task-main
.task-field{
  padding-top: 140px;
  padding-bottom: 40px;
}

.task-list{
  height: 60px;
  background-color: #fff;
  border-radius:5px;
}

.task-title{
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin: auto 0;
}

.link-btn{
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;;
}

.show-link{
  color: #053980;
  font-weight: bold;
}

.delete-link{
  color: #ff5757;
  font-weight: bold;
}

.done1-btn{
  background-color: #ff5757;
  color: #fff;
}

.done0-btn{
  background-color: #053980;
  color: #fff;
}

