
main{
  height: 100vh;
  width: 100%;
  overflow: scroll;
  background-image: image-url('main-background-image.png');
  background-size: cover;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}

.header-menu1{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  margin-top: 40px;
  background-color: #053980;
}

.header-menu2{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  margin-top: 90px;
  background-color: #053980;
}

// header1
.task-board-name{
  height: 100%;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
}

.project-select-box{
  height: 100%;
  line-height: 50px;
  margin-left: auto;
  margin-right: 20px;
  background-color: #ff5757;
}

.project-select-btn{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 10px;
}

// header2
.date-select{
  height: 50px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.date-select-form{
  padding: 2px;
  height: 34px;
  border: none;
  color: #999;
}

.change_date_btn{
  height: 34px;
  border: none;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  background-color: #ddd;
  padding: 8px;
}

.new-task-box{
  height: 100%;
  line-height: 46px;
}

.new-task-btn{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  background-color: #ff5757;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.task-status-box{
  height: 100%;
  line-height: 50px;
}

.task-status-box p{
  color: #fff;
  font-size: 18px;
}

.dropdown{
  margin-left: auto;
  margin-right: 10px;
}

.dropdown-icon{
  margin-top: 3px;
  width: 30px;
}

// task-field
.task-field{
  padding-top: 140px;
  padding-bottom: 40px;
}

.task-list{
  height: 60px;
  background-color: #fff;
  border-radius:5px;
}

.task-title{
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin: auto 0;
}

.link-btn{
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;;
}

.show-link{
  color: #053980;
  font-weight: bold;
}

.delete-link{
  color: #ff5757;
  font-weight: bold;
}

.done1-btn{
  background-color: #ff5757;
  color: #fff;
}

.done0-btn{
  background-color: #053980;
  color: #fff;
}

