<%#未ログイン時の画面%>
<div class=" info-field">
  <div class="container-fulid">
    <div class="row info-contents">
      <%#アプリタイトル・紹介%>
      <div class="col-lg-6">
        <div class="info-box">
          <%= image_tag 'climber-entrance-logo.png', class:"info-app-logo"%>
          <div class="app-concept ml-1 mt-4">
            <p>仲間と共に「高み」を目指す</p>
          </div>
          <div class="app-description ml-1 mt-4">
            <p>Climberは、プロジェクトメンバーのタスク情報・進捗状況を共有<br>
            あなたのビジネスをサポートします。</p>
          </div>
        </div>
      </div>
      <%#新規登録%>
      <div class="account-box col-lg-6">
        <p>メールアドレスで新規新規登録する</p>
        <div class="sign-up-box">
          <%= link_to "新規登録", new_user_registration_path, class:"sign-up" %>
        </div>
        <p>-or-</p>
        <p>SNSアカウントで新規新規登録する</p>
        <div class="sns-acount-box">
          <%= link_to image_tag("facebook-logo.png", class:"facebook-logo"), user_facebook_omniauth_authorize_path, method: :post%>
          <%= link_to image_tag("google-logo.png", class:"google-logo"), user_google_oauth2_omniauth_authorize_path, method: :post%>
        </div>
      </div>
    </div>
  </div>
</div>