.header-bar{
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #001b40;
}

.climber-logo{
  width: 120px;
  margin-left: 10px;
}

.user-status{
  float: right;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  margin-right: 25px;
}

.user-status a{
  text-decoration: none;
  color: #fff;
}