<div class="project-index">
<div class="header-menu1">
<div class="header1-title">
<p>ルーム選択</p>
</div>
</div>
<%= link_to "プロジェクト作成", new_project_path %>

<% @projects.each do |project|%>
  <div>
  <%= link_to "#{project.project_name}", project_path(project.id) %>
  </div>
<%end%>
</div>