<div class="header-menu1">
  <div class="header1-title col-3">
    <p>マイプロジェクト選択</p>
  </div>
</div>
<div class="project-index">
  <div class="project-field">
    <div class="project-lists">
      <div class="new-project">
        <%= link_to "プロジェクト作成する", new_project_path, class:"new-project-link" %>
      </div>
      <div class="project-list">
        <p>マイプロジェクトリスト</p>
      <% @projects.each do |project|%>
        <% if project.users.pluck(:user_id).any?(current_user.id) %>
          <div class="mb-2">
            <%= link_to "#{project.project_name}", project_path(project.id) %>
          </div>
        <%end%>
      <% end %>
      </div>
    </div>
  </div>
</div>